#search {
    display: flex;
    flex: 1;
    margin: 15px;
}

#searchbox {
    flex: 4;
    padding: 5px;
    margin: 10px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 12px;
    outline: none;
    padding-left: 20px;
}

#searchbox:focus {
    border: 1px solid black;
}

#submitbutton {
    flex: 1;
    margin: 10px;
    border-radius: 12px;
    background-color: #32c799;
    border: none;
    box-shadow: 0px 15px 20px #93edd1;
    color: #fff;
    font-size: 25px;
}

#plant-disease-header {
    flex: 1;
    font-size: medium;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 40px;
    font-family: 'Arvo', serif;
    font-weight: 200;
}

#searchkeyword {
    flex: 1;
    padding-left: 30px;
    padding-top: 13px;
}

#searchkeyword>span {
    font-size: medium;
    font-family: 'Arvo', serif;
    font-style: italic;
    font-weight: 200;
}

.searchword {
    color: #32c799;
}

#searchcontent {
    flex: 20;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}


.searchlist {
    flex: 0 0 25%;
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 10px;
    border-radius: 12px;
    transition: transform .2s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchlist>img {
    width: 70%;
    height: 70%;
    border: 1px solid black;
    margin: 15px;
}

.searchlist>span {
    margin: auto;
}

.searchlist:hover {
    border: 2px solid #32c799;
    transform: scale(1.1);
    box-shadow: 0px 15px 20px #93edd1;
}

.circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-top: 30px;
}


.circular--portrait img {
    width: 100%;
    height: auto;
}

#username {
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    font-family: 'Arvo', serif;
    font-weight: 700;
}

.content-button {
    font-size: medium;
    color: white;
    flex:1;
    padding: 10px;
    margin: 5px;
    border: none;
    font-family: 'Arvo', serif;
    font-size: medium;
    display: flex;
    margin: auto;
}

.active {
    background-color : #1da09b;
}