#upload {
      display: flex;
      width: 80%;
      height: 80%;
      margin: auto;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: transform .2s;
      padding: 5%;
      align-items: center;
      flex-direction: column;

}

#upload > #header {
    font-size : xxx-large;
    font-weight: bold;
}

#upload > #subheader {
    font-size: 30px;
    font-weight: 100;
    margin: 5px;
    color:rgb(159, 166, 173);
}

#upload > #drag {
    background-color: #f8fbff;
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: initial;
}

#upload > #drag > img {
    width:150px;
    height:150px;
    display: flex;
    margin: auto;
}

#upload > #drag > span {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 30px;
    font-weight: 100;
    color:rgb(159, 166, 173);
}

#upload > button {
    border-radius: 12px;
    background-color: #32c799;
    border: none;
    box-shadow: 0px 15px 20px #93edd1;
    color: #fff;
    font-size: 25px;
    display: flex;
    width: 80%;
    height: 12%;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.file_upload {
    opacity: 0.0;
 
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 
    /* IE 5-7 */
    filter: alpha(opacity=0);
  
    /* Netscape or and older firefox browsers */
    -moz-opacity: 0.0;
 
    /* older Safari browsers */
    -khtml-opacity: 0.0;
 
    position: absolute;
    width: 35%;
    height:48%;
 }