body {
    background : linear-gradient(to bottom left, #126469, #32c799);
    background-attachment: fixed;
    overflow: hidden;
}

#dashboard {
    /* background-color: white; */
    background-color: white;
    display: flex;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    animation-name: example;
    animation-duration: 3s;
    top:50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}
@keyframes example {
    from {
        top:50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
    }
    to {
        top:50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
    }
  }

#outer-container {
    /* position: fixed; */
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#aside {
    flex:1.5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#main {
    flex:5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#preview {
    flex:2;
}

#aside-topheader {
    flex:1;
    display: flex;
    align-items: center;
    margin: 20px
}

#aside-list {
    flex:10;
    list-style-type: none;
    padding: 12px;
}

#aside-topheader > span {
    font-size: xx-large;
    font-family: 'Arvo', serif;
    font-weight: 700;
}

#aside-list > li {
    font-size: medium;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    margin: 5px;
    font-family: 'Arvo', serif;
    font-weight: 200;
    color:#514c69;
}

#aside-list > li > img {
    margin: 5px;
}

#aside-list > li > span {
    margin: 5px;
}

#active {
    color: white;
    background-color: #32c799;
    box-shadow: 0px 15px 20px #93edd1;

}
