<div id="recomandation-windows">
    <button id="close-button" class="button-close"></button>
    <div  id="recomandation">
        <div class="left">
            <div id="product-list">
                {% for name, img in fertilizer_data %}
                <div class="fertilizer-card">
                    <div class="circular--portrait">
                        <img src="{{img.decode()}}" />
                    </div>
                    <label>{{name.decode()}}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="right">
            {% if sym!="" %}
            <div class="card">
                {% if sym=="healthy" %}
                <h2>Symptoms</h2>
                {% else %}
                <h2>Result</h2>
                {% endif %}
                <p class="content">{{sym}}</p>
            </div>
            {% endif %}
            {% if cause!="" %}
            <div class="card">
                <h2>What Caused it?</h2>
                <p class="content">{{cause}}</p>
            </div>
            {% endif %}
            {% if org!="" %}
            <div class="card">
                <h2>Organic Control</h2>
                <p class="content">{{org}}</p>
            </div>
            {% endif %}
            {% if chy!="" %}
            <div class="card">
                <h2>Chemical Control</h2>
                <p class="content">{{chy}}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>